<header>
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
  <form>
    <div class="form-group">
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, required: true, placeholder: 'john@example.com' %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, required: true, placeholder: 'Your password.' %>
    </div>
    <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
  </form>
<% end %>
