<header>
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
  <form>
    <ul>
      <li>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, required: true %>
      </li>
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, required: true %>
      </li>
    </ul>
    <p>
      <%= submit_tag 'Sign In', class: 'button success' %>
      <%= link_to "Cancel", root_url, class: 'alert button' %>
    </p>
  </form>
<% end %>
