<%= form_for(@user) do |u| %>
  <%= render 'shared/errors', object: @user %>
	<fieldset>
		<ul>
			<li>
				<%= u.label :first_name %>
				<%= u.text_field :first_name, size: 40, autofocus: true, required: true %>
			</li>
			<li>
				<%= u.label :last_name %>
				<%= u.text_field :last_name, size: 40, required: true %>
			</li>
			<li>
				<%= u.label :email %>
				<%= u.email_field :email, size: 40, required: true %>
			</li>
			<li>
				<%= u.label :phone_number %>
				<%= u.text_field :phone_number, size: 40, required: true, type: "number" %>
			</li>
      <li>
        <%= u.label :password %>
        <%= u.password_field :password, size: 40, required: true %>
      </li>
      <li>
        <%= u.label :password_confirmation %>
        <%= u.password_field :password_confirmation, size: 40, required: true %>
      </li>

		</ul>
		<p>
      <% if @user.new_record? %>
			  <%= u.submit "Create Account" %>
      <% else %>
        <%= u.submit "Update Account" %>
      <%end%>
      <br/>
      <%= link_to "Cancel", @user %>
		</p>
	</fieldset>
<% end %>

