<h2><%= user_name(@user) %></h2>

<div>
  <h3>Email</h3>
  <p> <%= @user.email %> </p>
  <h3>Phone Number</h3>
  <p> <%= @user.phone_number %> </p>
  <h3>Complaint</h3>
  <p> <%= @user.complaint %> </p>
</div>

<p>
  <% if @user == current_user %>
    <%= link_to "Schedule an Appointment", new_appointments_path %>
    <br>
    <br>
    <%= link_to "Edit Account", edit_user_path %> |
    <%= link_to "Delete Account", user_path(@user), method: :delete, data: {  confirm: 'Are you sure you want to delete this patient?' }  %>
  <% end %>
</p>


