<h2><%= user_name(@user) %></h2>

<div>
  <h3>Email</h3>
  <p> <%= @user.email %> </p>
  <h3>Phone Number</h3>
  <p> <%= @user.phone_number %> </p>
  <h3>Upcoming Appointments</h3> 
  <% if @appointments.exists? %>
    <ul>
    <% @appointments.each do |appt| %>
      <li>
        Location: <%= appt.location %> <br>
        Date: <%= format_date(appt.appointment_date_time)  %> <br>
        Time: <%= format_time(appt.appointment_date_time) %> <br>
      <% if@user == current_user %>
        <%= link_to "Edit Appointment", edit_appointment_path(appt) %> |
        <%= link_to "Cancel Appointment", appointment_path(appt), method: :delete, data: { confirm: 'Are you sure you want to cancel this appointment?' } %>
      <% end %>
      </li>
      <br>
    <% end %>
    </ul>
  <% else %>
    <p>You do not have any upcoming appointments.</p>
  <% end %>
</div>

<p>
  <% if @user == current_user%>
    <% if !@user.has_max_appointments %>
      <%= link_to "Schedule New Appointment", new_appointment_path %>
    <% end %>
    <br>
    <br>
    <%= link_to "Edit Account", edit_user_path %> |
    <%= link_to "Delete Account", user_path(@user), method: :delete, data: {  confirm: 'Are you sure you want to delete your account?' }  %>
  <% end %>
</p>


