<% if @record.new_record? %>
  <header class="container fullwidth heading">
    <h1>Add New Patient Record</h1>
  </header>
<% else %>
  <header class="container fullwidth heading">
    <h1>Update <%= record_full_name @record %>'s Record</h1>
  </header>
<% end %>

<%= form_for(@record) do |u| %>
  <%= render 'shared/errors', object: @record %>
  <form>
    <div class="form-group">
        <%= u.label :first_name, nil %>
        <% if @record.new_record?%>
          <span class="required fullwidth">&nbsp;*</span><br>
        <%end%>
        <%= u.text_field :first_name, size: 40, autofocus: true, required: true, class: 'fullwidth' %>
    </div>
    <div class="form-group">
        <%= u.label :last_name, nil %>
        <% if @record.new_record? %>
          <span class="required fullwidth">&nbsp;*</span><br>
        <% end %>
        <%= u.text_field :last_name, size: 40, required: true, class: 'fullwidth' %>
    </div>
    <div class="form-group">
        <%= u.label :email, nil %>
        <% if @record.new_record? %>
          <span class="required fullwidth">&nbsp;*</span><br>
        <% end %>
        <%= u.email_field :email, size: 40, required: true, class: 'fullwidth' %>
    </div>
    <div class="form-group">
        <%= u.label :phone_number, nil %>
        <% if @record.new_record? %>
          <span class="required fullwidth">&nbsp;*</span><br>
        <% end %>
        <%= u.text_field :phone_number, size: 40, required: true, type: "number", class: 'fullwidth' %>
    </div>
    <% if @record.new_record? %>
      <%= u.submit "Create Patient", class: 'btn btn-primary fullwidth' %>
    <% else %>
      <%= u.submit "Update Patient", class: 'btn btn-primary fullwidth' %>
    <% end %>
  </form>
<% end %>
