<div class="container">
  <div class="row">

    <header class="display-12"> 
      <h2>All Patients</h2>
      <hr>
    </header>

    <!-- <div class="col-md-12"> -->
    <div class="table-responsive">
  	  <table class="table table-hover table-bordered" style="text-align: left;">
  	  	<thead>
  	  	  <tr>
  	  	    <th scope="col" >Patient ID</th>
  	  	    <th scope="col" >User Account Exists?</th>
  	  	    <th scope="col" >First Name</th>
  	  	    <th scope="col" >Last Name</th>
  	  	    <th scope="col" >Phone Number</th>
  	  	    <th scope="col" >Email Address</th>
  	  	  </tr>
  	  	</thead>
  	  	<tbody>
          <% @records.each do |record| %>
  	  	    <tr style="cursor: pointer;">
  	  	      <th scope="row"><%= record.id %></th>
  	  	      <td><%= display_tick(record) %></td>
  	  	      <td><%= record.first_name %></td>
  	  	      <td><%= record.last_name %></td>
  	  	      <td><%= record.phone_number %></td>
  	  	      <td><%= record.email %></td>
  	  	    </tr>
          <% end %>
  	  	</tbody>
		  </table> 
    </div>

		<%= link_to new_patient_record_path, remote: true, data: { toggle: 'modal', target: 'modal-window' } do %>
      <span class="btn btn-primary" style="border-radius: 0;">New Patient</span>
    <% end %>


  </div>
</div>
