<div class="container">
  <div class="row">

    <header class="display-12">
      <h2><%= record_full_name @record %>'s Patient Record</h2>
      <hr>
    </header>

    <div class="profile col-md-6 col-md-offset-3">
      <h3 class="text-center">Personal Information</h3>
      <hr>
      <h3>Name</h3>
      <p> <span class="glyphicon glyphicon-user"></span>  <%= record_full_name @record %> </p>
      <h3>Email</h3>
      <p> <span class="glyphicon glyphicon-envelope"></span> <%= @record.email %> </p>
      <h3>Phone Number</h3>
      <p> <span class="glyphicon glyphicon-earphone"></span> <%= @record.phone_number %> </p>
      <hr>
      <div class="text-center">
        <%= link_to edit_patient_record_path, remote: true, data: { toggle: 'modal', target: 'modal-window' }, id: 'editAccountBtn' do %>
          <button class="btn btn-warning user-button">Edit Record</button>
        <% end %>
        <!-- if deletion is needed, get link to delete method from users -->
      </div>
    </div>

    <%= link_to new_patient_note_path, remote: true, data: { toggle: 'modal', target: 'modal-window' } do %>
      New Note
    <% end %>

  </div>
</div>
