<% if @patient_note.new_record? %>
  <header class="container fullwidth heading">
    <h1>Add New Note</h1>
  </header>
<% else %>
  <header class="container fullwidth heading">
    <h1>Update <%= record_full_name @record %>'s Note</h1>
  </header>
<% end %>

<%= form_for(@patient_note) do |u| %>
  <%= render 'shared/errors', object: @patient_note %>
  <form>
    <div class="form-group">
        <%= u.label :notes, nil %>
        <% if @patient_note.new_record?%>
          <span class="required fullwidth">&nbsp;*</span><br>
        <%end%>
        <%= u.text_area :notes, size: 40, rows: 20, cols: 10, autofocus: true, required: true, class: 'fullwidth' %>
    </div>
    <% if @patient_note.new_record? %>
      <%= u.submit "Create Patient Note", class: 'btn btn-primary fullwidth' %>
    <% else %>
      <%= u.submit "Update Patient Note", class: 'btn btn-primary fullwidth' %>
    <% end %>
  </form>
<% end %>
