<%= form_for(@appointment) do |f| %>
  <%= render "shared/errors", object: @appointment %>
  <form>
    <ul>
        <%= f.label :appointment_date_time %>
        <%= f.datetime_select :appointment_date_time, ampm: true %>
        <%= f.label :location %>
        <%= f.select :location, ['National Medical Center', 'Arif Medical Center'], :prompt => 'Select location' %>
        <%= f.label :complaint %>
        <%= f.text_area :complaint, cols: 40, rows: 7 %>
    </ul>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", @user %>
    </p>
  </form>
<% end %>

       
