<div class="container">
  <div class="row">
    
    <header class="display-12">
      <h2>Appointments</h2>
    </header>

  </div>
</div>

<!-- all_appointments -->
<!-- upcoming_appointments -->
<!-- past_appointments -->

  <% if @appointments.nil? %>
    There seems to be nothing here.
  <% else %>
    <h3><%= pluralize(@appointments.count, 'Appointment') %> Upcoming:</h3>
    <ul>
    <% @appointments.each do |appt| %>
      <li>
        Patient: <%= user_name(appt.user) %><br>
        Location: <%= appt.location %><br>
        Date: <%= format_date(appt.date_of_appointment) %><br>
        Time: <%= format_time(appt.time_of_appointment) %><br>
        Complaint: <%= appt.complaint %> <br>
      </li> <br>
    <% end %>
    </ul>
  <% end %>
