<!DOCTYPE html>
<html>
  <head>
    <title>Aesthetic Clinic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
 
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    
    <%= render 'layouts/sidebar' %>
    <%= yield %>
  </body>
</html>
