<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Aesthetic Clinic" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container container-full">
      <%= render 'layouts/navbar' %>
      
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>

      <div class="row nav-area">
	  	  <div class="hamburger hamburger--collapse" id="menuHamburger" style="float: left;">
    	  	<div class="hamburger-box">
        		<div class="hamburger-inner"></div>
    	  	</div>
	  	  </div>
      </div>

      <%= yield %>
    
    </div>

    <footer>
      <div class="col-md-12">
        &nbsp;
      </div>
    </footer>

    <!-- Default modal for CRUD actions -->
	  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
      	<div class="modal-content"></div>
    	</div>
	  </div>

  </body>
</html>
